body{
  background-color: rgb(71, 157, 227);
  font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.subtitle{
font: size 18px; ;

}
.author{
font-size: 28px;
font-weight:bold;
margin:10px 0;

}

.list{
list-style-type: none;
padding:0;
}

.list li{

}

.container {
  max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}


.image-container img {
  width: 150px;
  border-radius: 5px;
  margin: 20px 0;
}
.quote {
  color:white;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  margin: 20px 0;
}

