

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:auto 1fr;
}

.tart{
  grid-column: 1/3;
  grid-row: 1/2;
  font-size: 100px;
  justify-self: center;
}

.cherry{
 color: red;
 grid-column: 2/2;
 grid-row:2/2;
 font-size: 4em;
}

h2{
  text-align: center;
}

.image{
 justify-self: center;
 grid-column: 1/2;
 grid-row: 1 / 2;
 

}

.back{
  background-color: gray;
  grid-column: 2/2;
  grid-row:1/3 ;
}

