@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

  header{
    display: flex;
    height: 28vh;
    width: 100vw;
    background-color: #B8E1FF;
  }

  body{
    display: grid;
    grid-template-rows:1fr auto;
    grid-template-columns:1fr;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color:#1d4972;
  }

  #Home-button{
    background-color:#B8E1FF;
    font-family: 'Orbitron', sans-serif;
  }

  #Page_3{
    color:#1d4972;
    background-color:#ccc90ee6;
    font-family:'Orbitron', sans-serif ;
  }

  .logo{
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    align-content: center;
    padding: 15px;
    border-radius:90px;
    border-style:solid;
    border-color:#1d4972;
  }

  .site_name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    letter-spacing: 0.5px;
    text-align: center;
    color:#1d4972;
    margin: 45px;
  }

  nav {
    display: flex;
    gap: 55px;
    justify-content: center;
    font-weight: bold;
    margin: 10px;
  }

  nav a {
    letter-spacing: 1px;
    margin-top:55px;
    height: 25px;
    text-decoration:none;
    color: #1d4972;
    background-color: #B8E1FF;
    padding: 8px;
    border-radius: 50px;
    transition: background-color 0.3s;
  }

  nav a:hover {
    transform: scale(1.1);
    background-color:#B8E1FF;
  }

  main {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto;
    gap: 15px;
    padding: 20px;
    margin:0 100px
  }

  .page2_content_1{
    grid-column: 1/2;
    grid-row: 1;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #B8E1FF;
    text-decoration:solid;
    width: 100%;
    background-color: #1d4972;
    padding-top: 150px;
  }

  .page2_content_2{
    grid-column: 2/3;
    grid-row: 1;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1d4972;
    text-decoration:solid;
    width: 100%;
    background-color: #1d4972;
    padding-top: 150px;
  }

  .skills-h1{
    margin: 20px 50px 20px;
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(to right, #d8940e, #B8E1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .projects-h1{
    margin: 20px 50px 20px;
    font-size: 60px;
    text-transform: uppercase;
    background: linear-gradient(to right,  #d8940e, #B8E1FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .skills{
    font-size: 1.2rem;
    line-height: 1.8;
    color:#B8E1FF;
    max-width: 800px;
    margin: 20px auto;
  }

  .projects{
    font-size: 1.2rem;
    line-height: 1.8;
    color: #B8E1FF;
    max-width: 800px;
    margin: 20px auto;
  }

  img {
    filter: grayscale(60%);
    transition: filter 0.5s ease-in-out;
    border-radius: 35px;
    box-shadow: 0 0 10px 10px#f5de09e6; 
  }

  .studying-image{
    grid-column:1/2;
    grid-row:2 ;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .market-image{
    grid-column: 2/3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span{
    color:rgb(179, 164, 22);
    }

    .wrapper .button{
      height : 60px;
      width: 60px;
      float:left;
      margin:20px 20px;
      background-color:#ccc90ee6;
      border-radius: 50px;
      cursor:pointer;
      box-shadow: 10px 10px 10px 0px #B8E1FF;
      transition: all 0.3s ease-out;
      overflow: hidden;
    }

    .wrapper .button:hover{
      width: 200px;
    }

    .wrapper .button .icon{
      display: inline-block;
      height: 60px;
      width: 60px;
      border-radius: 50px;
      box-sizing: border-box;
      line-height: 60px;
      text-align: center;
      transition: all 0.3s ease-in-out;
    }

    .wrapper .button:nth-child(1) span {
      color: #4267b2;
    }
    .wrapper .button:nth-child(2) span {
      color: #1da1f2;
    }
    .wrapper .button:nth-child(3) span {
      color: #e1306c;
    }

    .wrapper .button .icon i{
      font-size: 25px;
      line-height: 60px;
    }
    .wrapper .button:hover .icon i {
      color: #fff;
    }

    .wrapper .button span{
      font-size: 20px;
      font-weight: 500;
      line-height: 60px;
      margin-left: 10px;
      color: #000000;
      transition: all 0.3s ease-in-out;
    }




    .wrapper .button:nth-child(1):hover .icon {
      background: #4267b2;
    }
    .wrapper .button:nth-child(2):hover .icon {
      background: #1da1f2;
    }
    .wrapper .button:nth-child(3):hover .icon {
      background: #e1306c;
    }

    #site_plan{
      color: #fff;
      background-color: #ccc90ee6;
    }
    .contact-me{
      color: #fff;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: bold;
      letter-spacing: -1px;
      font-size: 14px;
    }
    .contact-us a{
      color: #3bd6bce6;
    }
    footer{
    background-color:#B8E1FF;
    text-align: center;
    }

  
